* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.bold {
    font-weight: bold;
}

.book-title {
    font-size: 24px;
}

.card {
    border-radius: 12px;
    border: 1px solid black;
    padding: 15px;
}

.book-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 350px));
    grid-template-rows: repeat(5, 1fr   );
    gap: 15px;
    list-style: none;
    padding: 15px;
}

form {
    display: flex;
    padding: 50px;
    flex-direction: column;
    height: 50%;
    width: 50%;
}

.pop-up {
    position: fixed;
    visibility: hidden;
    border: 1px solid black;
    background-color: white;
    left: 25%;
    top: 25%;
}

.action-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.action-buttons button {
    padding: 12px 32px;
    border-radius: 8px;
    margin-top: 15px;
}

label {
    margin-top: 15px;
}

input, select {
    height: 32px;
    font-size: 24px;
    padding-left: 4px;
}

.new-book-btn {
    height: 50%;
    width: 50%;
}

div > img {
    height: 15px;
    width: 15px;
}

div > img:hover {
    transform: scale(1.1);
}

.status {
    display: flex;
    gap: 8px;
    align-items: center;
}

.update-status {
    display: flex;
    flex-direction: column;
}

.delete-icon {
    height: 32px;
    width: 32px;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
}

.flex-end {
    display: flex;
    justify-content: end;
}

.flex-full-center {
    display: flex;
    justify-content: center;
    align-items: center;
}