@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-family: 'Roboto', sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f3f3f3;

}

.bold {
    font-weight: bold;
}

.book-title {
    font-size: 24px;
}

.card {
    border-radius: 12px;
    border: 1px solid black;
    padding: 15px;
    background-color: white;
}

.book-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(265px, 290px));
    grid-auto-rows: minmax(125px, 180px);
    gap: 18px;
    list-style: none;
    padding: 18px;
}

form {
    display: flex;
    padding: 50px;
    flex-direction: column;
    height: 50%;
    width: 50%;
}

.pop-up {
    position: fixed;
    visibility: hidden;
    border: 1px solid black;
    background-color: white;
    left: 25%;
    top: 25%;
}

.action-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.action-buttons button {
    padding: 12px 32px;
    border-radius: 8px;
    margin-top: 15px;
}

label {
    margin-top: 15px;
}

input, select {
    height: 32px;
    font-size: 24px;
    padding-left: 4px;
}

.new-book-btn {
    height: 50%;
    width: 50%;
}

#new-book-btn:hover {
    background-color: #f3f3f3;
}

div > img {
    height: 15px;
    width: 15px;
}

div > img:hover {
    transform: scale(1.1);
}

.status {
    display: flex;
    gap: 8px;
    align-items: center;
}

.update-status {
    display: flex;
    flex-direction: column;
    top: 45%;
    left: 45%;
    border-radius: 18px;
    padding: 15px;
}

.pop-up-heading {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.pop-up > button {
    font-size: 16px;
    padding: 8px 20px;
    border-radius: 12px;
    border: 1px black solid;
}

.radio {
    margin-bottom: 15px;
}

.delete-icon {
    height: 32px;
    width: 32px;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
}

.flex-space-between-col {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.flex-end {
    display: flex;
    justify-content: end;
}

.flex-full-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    height: 100px;
    align-items: center;
    background-color: white;
    box-shadow: 0px 2px 12px gray;
}

header > div {
    margin-left: 50px;
    font-size: 32px;
    font-family: 'Josefin Sans';
}